<div class='backgroundcover'>
  <div class ='signupContainer'>
    <h3> Create an Account </h3>
    <form>
      <p class='labels'>Username:</p>
      <input [(ngModel)]="username" name='username'type='text' placeholder="Username">
      <p class='labels'>Password:</p>
      <input [(ngModel)]="password" name='password' type='password' placeholder="Password"> <br>
      <input (click)="reg()" class='labels' type='submit' value='Submit'>
    </form>
    <a class='formlink' href='http://localhost:4200/login'>cancel</a>
  </div>
</div>
