<div class='backgroundcover'>
  <div class='container'>
    <div class="info">
      <h3> About Cats </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Adipiscing commodo elit at imperdiet dui accumsan sit amet nulla. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Gravida cum sociis natoque penatibus et magnis dis. Vivamus at augue eget arcu dictum varius duis at consectetur. Faucibus purus in massa tempor nec. Congue eu consequat ac felis donec et odio pellentesque diam. Semper eget duis at tellus at urna.
      </p>
    </div>
      <div class="links">
        <h3> Cats </h3>
        <div *ngFor="let page of pages">
          <a href="/cat/{{page.pagesid}}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">{{page.name}}</a>
        </div>
        <h4 *ngIf="pages.length == 0"> Contact an Administrator to view cats. </h4>
      </div>
    </div>
</div>
